@charset "UTF-8";

@font-face {
    font-family: Ancizar Sans-regular;
    src: url('../fonts/Ancizar Sans-Regular.otf');
}
@font-face {
    font-family: Ancizar Serif-bold;
    src: url('../fonts/Ancizar Serif-Bold.otf');
}

main-title {
  width: 100%;
}

.counter{
  font-size: 4em;
  color: white;
}

.title-orange {
  background-color: #F27F31;
  height: 100px;
  /* margin-top: 2em; */
}

.rows-stations{
  height: 100px;
  margin-bottom: 0.5em;
  text-align:center;
}

.titles{
  color: white;
  margin-top: 1em;
}

.logo-title{
  margin-top: 1em;
}

a:link {
	text-decoration: none;
	color:#333333;
}
a:visited {
	color:#666666;
	text-shadow: 1px 1px #000000;
}
h1 {
	font-family: Ancizar Serif-bold;
	font-size: 42px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-shadow: 1px 1px #382C1E ;
	text-align: center;
	min-width:200px;
  max-width:1325px;
}
h3 {
	font-family: Ancizar Serif-regular;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: left;
	min-width:200px;
  max-width:800px;
}
h2 {
	font-family: Ancizar Serif-bold;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color: #444444;
	text-align: left;
}
.menunav {
	position:relative;
  margin-left: 20px;
  width: 95%;
	float:left;
	margin-bottom: 30px;
}

.botonMenu {
	font-family: Ancizar Serif-bold;
	font-size: 46px;
	font-style: normal;
	font-weight: normal;
	color: #00FF00;
	text-align: left;
	width: 665px;
	background-image: url(../imagenes/boton1.jpg);
	padding:10px 40px 83px 8px;
	float: left;
}
.botonMenu:hover {
	color:#FFFFFF;
	text-shadow: 1px 1px #000000;
	background-image: url(../imagenes/boton2.jpg);
	cursor:pointer;
}

.botonMenu4 {
	font-family: Ancizar Serif-bold;
	font-size: 46px;
	font-style: normal;
	font-weight: normal;
	color: #00FF00;
	text-align: left;
	width: 665px;
	background-image: url(../imagenes/boton3.jpg);
	padding:10px 40px 84px 8px;
	float: left;
}
.botonMenu4:hover {
	color:#FFFFFF;
	text-shadow: 1px 1px #000000;
	background-image: url(../imagenes/boton4.jpg);
	cursor:pointer;
}
.botonMenu1 {
	font-family: Ancizar Serif-bold;
	font-size: 46px;
	font-style: normal;
	font-weight: normal;
	color: #00FF00;
	text-align: left;
	width: 680px;
	background-image: url(../imagenes/B1_A.jpg);
	padding:0px 25px 93px 8px;
	float: left;
}
.botonMenu1:hover {
	color:#FFFFFF;
	text-shadow: 1px 1px #000000;
	background-image: url(../imagenes/B1_B.jpg);
	cursor:pointer;
}
.botonMenu2 {
	font-family: Ancizar Serif-bold;
	font-size: 46px;
	font-style: normal;
	font-weight: normal;
	color: #00FF00;
	text-align: left;
	width: 682px;
	background-image: url(../imagenes/B2_A.jpg);
	padding:0px 25px 96px 8px;
	float: left;
}
.botonMenu2:hover {
	color:#FFFFFF;
	text-shadow: 1px 1px #000000;
	background-image: url(../imagenes/B2_B.jpg);
	cursor:pointer;
}
.contenido {
	position: relative;
	left: 20px;
	float:left;
}
.contenido img {
  margin-left: 8%;
  width: 80%;
  height: auto;
}
.texto {
	font-family: ANIR;
	font-size: 40px;
	font-style: normal;
	text-align: justify;
  max-width:850px;
  margin: 30px;
	float:left;
}

@media only screen and (max-width: 1860px) {
  h3{
  	font-size: 30px;
  }
  .texto {
    max-width:700px;
  }
}

@media only screen and (max-width: 1660px) {
  h3{
    font-size: 30px;
  }
  .texto {
    max-width:1400px;
  }
}

@media only screen and (max-width: 1460px) {
  h3{
    font-size: 30px;
  }
  .texto {
    max-width:1200px;
  }
}

@media only screen and (max-width: 1260px) {
  h3{
    font-size: 30px;
  }
  .texto {
    max-width:1000px;
    min-width:500px;
    margin-right: 30px;
  }
}
